<h1>Rails Sample App</h1>

This application contains a variety of samples and solutions to lab exercises:

<ol>
  <li><%= link_to 'Posts', :controller => "posts"%> is a scaffold resource that has been extended to demonstrate testing features, including <code>assert_select</code>, rcov, and mocha.</li>
  <li><%= link_to 'Quotes', :controller => "quotes"%> is a resource that demonstrates ActiveResource</li>
  <li><%= link_to 'Widgets', :controller => "widgets"%> is used in the ActionController and ActionView labs</li>
  <li><%= link_to 'Movies', :controller => "movies" %> demonstrates Ajax</li>
</ol>
  