<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html> 
<head> 
<title>YUI Grids CSS </title> 
  <link rel="stylesheet" type="text/css" href="stylesheets/reset-fonts-grids.css"> 
</head> 
<body> 
<div id="doc" class="yui-t4">
  <div id="hd">Header</div>
  <div id="bd">
    <div id="yui-main">
      <div class="yui-b">Body Content</div>
    </div>
    <div class="yui-b">Sidebar Content</div>
  </div>
  <div id="ft">Footer Content</div>
</div>
</body> 
</html>
